/* Style for the form container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    height: 189px;
    padding: 20px;
    margin-top: 146px;
    background-color: white;
    border: 2px solid #bd0102;
    border-radius: 10px;
}

h3 {
    font-size: 24px; /* Larger font size */
    color:#bd0102
}

/* Style for labels */
label {
    font-size: 18px; /* Larger font size */
    display: block;
    margin-bottom: 10px;
}

/* Style for input fields */
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px; /* Larger font size */
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the submit button */
button[type="submit"] {
    background-color: #bd0102;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 11px;
    cursor: pointer;
}
